.answered {
    color: white;
    background-color: #1C232B;
}

span.selected {
    text-decoration: underline;
    font-weight: bold;
    /*background-color: red;*/
}

.slide-title {
  z-index: 10;
  position: relative;
  width: 100%;
  max-height: 8rem;
  margin: 0;
  text-align: center;
  color: #fff;
  border-left: 1px solid #fff;
  padding: 1.5rem 1rem;
  background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.62), #1F272F 90%);
  background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.62), #1F272F 90%);
  background-image: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.62), #1F272F 90%);
  background-image: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.62), #1F272F 90%);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.62), #1F272F 90%);
}
/*.slide-title::before,
.slide-title::after {
  z-index: 5;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(right, transparent, rgba(255, 255, 255, 0.5));
  background-image: -moz-linear-gradient(right, transparent, rgba(255, 255, 255, 0.5));
  background-image: -ms-linear-gradient(right, transparent, rgba(255, 255, 255, 0.5));
  background-image: -o-linear-gradient(right, transparent, rgba(255, 255, 255, 0.5));
  background-image: linear-gradient(right, transparent, rgba(255, 255, 255, 0.5));
}*/
.slide-title::before {
  top: 0;
  width: 100%;
  background-image: -webkit-linear-gradient(to left, transparent, rgba(255, 255, 255, 0.5));
  background-image: -moz-linear-gradient(to left, transparent, rgba(255, 255, 255, 0.5));
  background-image: -ms-linear-gradient(to left, transparent, rgba(255, 255, 255, 0.5));
  background-image: -o-linear-gradient(to left, transparent, rgba(255, 255, 255, 0.5));
  background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.5));
}
.slide-title::after {
  right: 0;
  bottom: 0;
}
